.course-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 15%;
  align-items: center;
  height: 50px;
  border-bottom: solid 5px #f48383;
}

.course-item {
  border: solid 1px black;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  background-color: #efdbd0;
  margin-right: 10px;
  padding: 5px;
}

.active-link {
  background-color: #f48383;
}
