.course-main {
  margin-left: 10%;
  height: 90vh;
  background-color: rgb(243, 233, 201);
}

.markInput::placeholder {
	color: black;
}

.markInput[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.checkbutton {
  margin-left: 15px;
}

.checkbutton:hover {
  cursor: pointer
}
