.profile-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  height: 90vh;
}

.profile-photo {
  padding: 40px;
}

.profile-description {
  padding: 20px;
  margin: 20px;
  line-height: 2;
  font-size: 15pt;
  background-color: lightpink;
  border-radius: 15px;
}

.title {
  font-size: 20pt;
}

.field-entry {
  font-size: 15pt;
}

.save-changes-button {
  border: 1px solid black;
}
